 <div class = "message ui raised segment">
    <%= message.content%><br>
    <% if message.attachment_data %>
        <span><%= link_to "Download #{message.file_name}", message.attachment_data, download: "" %> <i class="download icon"></i></span>
    <%end%>
   
    <%if current_user(session) == message.user%>
        <%= link_to "Delete", "/chat_rooms/#{@chat_room.id}/messages/#{message.id}", method: :delete %>
    <% end %>
 </div>
  <small class = "ui right aligned">By <%= message.user.name %> on <%= message.created_at.strftime("%A, %d %B at %k:%M %P")%></small>