<h1>This is supposed to be the chat room</h1>

<%=@chat_room.title%> <br>
<%= link_to "Edit change the title", edit_department_chat_room_path(@department,@chat_room) %>
<br>
 <%= link_to "Delete #{@chat_room.title}", "/department/#{@department.id}/chat_rooms/#{@chat_room.id}", method: "delete", data: {confirm: "Are you sure you want to delete this chat room"} %>


 <div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item messages active">
        Messages
      </a>
      <a class="item files">
        <%= @chat_room.title%>'s shared files
      </a>

      <a class="item view_participants">
        View participants
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      This is an stretched grid column. This segment will always match the tab height
<%#=======================================================================================================%>
      <div class = "messages ui container">

        <div class = "ui container" >
      
           <%@messages.each do |message|%>
                <div>
                    <%= message.content%><br>
                    <%= link_to "Delete", "/chat_rooms/#{@chat_room.id}/messages/#{message.id}", method: :delete %>
                    <%= message.user.name %> <br>
                    <%= message.created_at%> <br>
                </div>

                <br> <br> <br>
                 
            <%end%>
        
        </div>
        <div class = "ui container">
            <%=form_for @message ,url: "/chat_rooms/#{@chat_room.id}/messages" do |f|%>
                 <%= f.text_field :content%>
                 <%= f.submit "Send message"%>
            <%end%>
        </div>
      </div>
<%#=======================================================================================================%>



<%#=======================================================================================================%>
      <div class = "files ui container">
            filesssssssssss
       
      </div>
 <%#=======================================================================================================%>






<%#=======================================================================================================%>
      <div class = "view_participants">
        all the participantssss
      </div>
<%#=======================================================================================================%>



    </div>
  </div>
</div>


<%#=======================================================================================================%>
<%#JAVASCRIPT %>

<script> 

    var messages= $("a.messages")
    var div_mess = $("div.messages")

   var participants =  $("a.view_participants")
   var div_part = $("div.view_participants")

   var files =  $("a.files")
   var div_file = $("div.files")

   messages.on("click",function(){
        $(this).addClass("active")
        div_mess.removeClass(" hidden menu")
       participants.removeClass("active")
       div_part.addClass(" hidden menu")
       files.removeClass("active")
       div_file.addClass("hidden menu")
   });

   participants.on("click",function(){
        $(this).addClass("active")
        div_part.removeClass(" hidden menu")
       files.removeClass("active")
       div_file.addClass(" hidden menu")
       
       messages.removeClass("active")
       div_mess.addClass(" hidden menu")
      
   });

   files.on("click",function(){
       $(this).addClass("active")
       div_file.removeClass("hidden menu")

       participants.removeClass("active")
       div_part.addClass(" hidden menu")

       messages.removeClass("active")
       div_mess.addClass("hidden menu")
   });
</script>
<%#=======================================================================================================%>
