<h1 class = "ui header center aligned">Instant Chat: <%=@chat_room.title.capitalize%> <%= link_to "Edit Chat Room Name", edit_department_chat_room_path(@department,@chat_room), class: "ui button yellow right floated" %> </h1>
<hr class = "style-seven">

 <div class="ui grid">
  <div class="four wide column" >
    <div class="ui vertical fluid tabular menu">
      <a class="item messages active"> Messages</a>
      <a class="item files"><%= @chat_room.title%>'s shared files </a>
      <a class="item view_participants"> View participants</a>
    </div>
  </div>
  <div class="twelve wide stretched column chatroom" style= "height: 400px" >
      <div class="ui segment scroller">
      
          <%# this is the div for the messages. %>
              <div class = "messages ui container "  id = "messages"  data-chat-room-id="<%= @chat_room.id %>">
                      <%= render @messages %>
              </div>


            <%# this is for the files. %>
            <div class = "files ui container hidden menu" id = "files">
                  <%@files.each do |file|%>
                    <div class = "ui raise segment">
                    <span><%= link_to "Download #{file.file_name}", file.attachment_data, download: "" %> <i class="download icon"></i></span>
                      Uploaded by  <%= file.user.name.capitalize %> On: <%= file.created_at.strftime("%A, %d %B %Y") %> 
                      </div>
                    <%end%>  
            </div>

            <%# this is the div to view the members of the department %>
            <div class = "view_participants hidden menu">
                <h3><%=@chat_room.title.capitalize%> has <%=pluralize(@chat_room.department.users.size ,"participant")%><h3>
                <%@chat_room.department.users.each do |user|%>
                    <%= link_to user.name, user_path(user) %><br>
                <%end%>
            </div>

        </div>

        <%# this is the form for the message %>
          <div class = "ui container">
                <%=form_for @message ,url: "/chat_rooms/#{@chat_room.id}/messages", multipart: true do |f|%>
                <div class="ui  fluid right labeled input">
                    <%= f.text_field :content, placeholder: "Enter a message"%>
                      <div class="ui button primary">
                          <label for = "message_attachment" ><i class="cloud upload icon"></i> Upload<label>
                          <%=f.file_field :attachment, class: "hidden menu"%>
                      </div>
                </div>
                    <%= f.submit "Send message",class: "hidden menu" %>
                <%end%>
            </div>
     
      </div>
  
  </div>
  <br>
  <%if current_user(session) == @chat_room.department.business.admin%>
   <%= link_to "Delete #{@chat_room.title}", "/department/#{@department.id}/chat_rooms/#{@chat_room.id}", method: "delete", data: {confirm: "Are you sure you want to delete this chat room"}, class: "ui left floated button negative"%>
 <%end%>


<%# JAVASCRIPT is in app/javascripts/chat_rooms.js  %>


