
<% if @business && @business.errors.any? %>
<div id="error_explanation" class= "ui floating message">
<h2>
  <%= pluralize(@business.errors.count, "error") %>
  prohibited the creation of this business:
</h2>

<ul>
<% @business.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
  <% if @user == current_user(session)%>
    <div class = "ui grid">
      <div class = "ui six wide column">
        <img src= "https://images.unsplash.com/photo-1533745848184-3db07256e163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" height= "400" width = "400">
      </div>
      <div class = "ui ten wide column">
        <h1 class = "ui header center aligned">Your are signed in as</h1>
        <hr  class = "style-seven">
           <h3 class = "ui header center aligned">Username: <%= @user.name %></h3>
          <h3 class = "ui header center aligned">Email: <%= @user.email %></h3>
           <%if @user.admin %>
            <h3 class = "ui header center aligned">Title: Admin <small> since <%=@user.created_at.strftime("%B, %d %Y")%> </small></h3>
        <%else%>
            <h3 class = "ui header center aligned">Title: Potentiel Employee <small>since <%=@user.created_at.strftime("%B, %d %Y")%></small>  </h3>
          <%end%>
          <br><br>
          
             
        <h1 class = "ui header center aligned">Experience</h1>
        <hr  class = "style-seven">
        <div class="ui stacked segment">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
        <br>  <br>


          <h1 class = "ui header center aligned">Businesses</h1>
          <hr  class = "style-seven">
          <%if @user.businesses && !@user.businesses.empty?%>
            <%@user.businesses.each do |business|%>  
              <h3 class = "ui header center aligned"><%= link_to "#{business.name.capitalize}", business_path(business) %> <small class = "ui mini">by <%=business.admin.name.capitalize%> </small></h3>
            <%end%>
          <%else%>
            <div class = "ui raised segment">
              <p>You do not have a business yet. If you are an admin please create one otherwise apply to a business.</p>
            </div>
          <%end%>

        <%if !@user.admin %>
            <h1 class = "ui header center aligned">Businesses you applied to</h1>
            <hr  class = "style-seven">
            <%if !@applied_businesses.empty? %>
            <%@applied_businesses.each do |business|%>
              <h3 class = "ui header center aligned"><%=business.name if business%></h3>
            <%end%>
            <%else%>
            <div class = "ui raised segment">
                <p>You did not apply to a business yet.</p>
              </div>
          <%end%>

        <%end%>

      </div>
      

    
    </div>

<%else%>
    <%= render "users/visitors" %>
<%end%>
    