 <%= link_to 'Add a new project',  new_department_project_path(@department) ,class: "ui primary basic button right floated"%>
<% if  @department.chat_room%>
  <%= link_to "Show the chatroom", department_chat_room_path(@department, @department.chat_room), class: "ui primary basic button left floated"%> <br>
<%else%>
  <%= link_to 'Add A New Chatroom', new_department_chat_room_path(@department),class: "ui positive basic button left floated"%><br>
<% end %>
 <h1 class = "ui header center aligned"><%=@department.name.capitalize%> department</h1>
 <hr class = "style-seven">
<h5><%=@department.name.capitalize%> department has <%= pluralize(@department.users.size,"employee") %>  </h5>
<div class="ui piled segment">
  <h4 class="ui header"><%= @department.name.capitalize%>'s Projects and Goals</h4>
  <%if !@department.projects.empty?%>
  <ul>
    <%@department.projects.each do |project|%>
       <h5><%= link_to  "#{project.name.capitalize} Project",department_project_path(@department, project)%></h5>
        <ul>
          <% project.goals.each do |goal|%>
            <li><%=goal.content%></li>
          <%end%>
        </ul>
        <br>
    <%end%>
   </ul>
   <%else%>
   <div class = "ui raised segment ">
      <p>You did not define any goals yet. Goals come from projects that you create.</p>
   </div>
   <%end%>
</div>

 <h1 class = "ui header center aligned"> <%= pluralize(@department.users.size,"Employee") %>  </h1>
  <hr class = "style-seven">
  <%@department.users.each do |user|%>
   <h3 class = "ui header center aligned"> <%= link_to user.name, user_path(user) %> <%= link_to "Terminate","/terminate/#{@department.id}/#{user.id}", class: "ui negative basic button mini", :method => :delete, data: {confirm: "Are you sure you want to terminate #{user.name.capitalize}"} %></h3>
  <%end%>



 


<%= link_to "Delete #{@department.name}", delete_business_department_path(@department.business, @department),data: {:confirm => "Are you sure you want to delete #{@department.name}?"}, :method => :delete ,class: "negative ui button right floated"%>
 