<!-- Following Menu -->
<%# This sidbar shows up with jQuery %>
<div class="ui large top fixed hidden menu">
    <div class="ui container">
            <a class="item" href = "/">Home</a>

            <% if current_user(session) && current_user(session).admin  %>
                <a class=" item" href ="/admin/businesses/new">Create a Company</a>
            <%end%>
            <%if current_user(session) && current_user(session).businesses %>
                <a class=" item" href= "/my_companies/<%=current_user(session).id%>">My Companies</a>
            <%end%>
            <% if  current_user(session) && !current_user(session).admin  %>
                <a class="item" href= "/businesses">Apply To Businesses</a>
            <% end %>
           
      
        <div class="right menu">
            <%if !session[:user_id]%>
                <div class="item">
                    <a class="ui button" href="/logIn">Log in</a>
                </div>
                <div class="item" href="/users/new">
                    <a class="ui primary button">Sign Up</a>
                </div>
            <%end%>
                <%= display_logout "ui primary button"%>
            </div>
        
        
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <%if !session[:user_id]%>
    <a class="item" href="/logIn">Login</a>
    <a class="item" href="/users/new">Signup</a>
  <%end%>
  <%= display_logout "item" %>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                <i class="sidebar icon"></i>
                </a>
                <a class="main item" href = "/">Home</a>
                <% if current_user(session) && current_user(session).admin  %>
                    <a class="main item" href ="/admin/businesses/new">Create a Company</a>
                <%end%>
                <%if current_user(session) && current_user(session).businesses %>
                    <a class="main item" href= "/my_companies/<%=current_user(session).id%>">My Companies</a>
                <%end%>
                <% if  current_user(session) && !current_user(session).admin  %>
                  <a class="main item" href= "/businesses">Apply To Businesses</a>
                <% end %>
                <div class="right item">
                <div class="ui fluid category search">
                <div class="ui icon input">
                 
                    <input class="prompt" type="text" placeholder="Search Businesses by Name" list = "businesses_autocomplete"><i class="search icon"></i>
                    
                <datalist id="businesses_autocomplete">
                    <% Business.all.each do |business| %>
                        <option value="<%= business.name %>">
                    <% end %>
                </datalist>
                <%# this is an hidden form %>
                <div class = "hidden menu" id = "search_bar_form">
                    <%=form_tag("/businesses", {:method => :get})  do %>
                        <%= text_field_tag :business_name1  %>
                        <%=submit_tag%>
                    <%end%>
                </div>

                </div>
                <div class="results"></div>
                </div>
                <% if !session[:user_id ]%>
                    <a class="ui inverted button" href="/logIn">Log in</a>
                    <a class="ui inverted button" href="/users/new">Sign Up</a>
                <%end%>
                 <%= display_logout "ui inverted button" %>
            </div>
        </div>
    </div>
    
    <div class="ui text container">
      <h1 class="ui inverted header">
        Imagine-a-Company
      </h1>
      <h2>Do whatever you want when you want to.</h2>
      <%if current_user(session) && current_user(session).admin %>
        <a href="/admin/businesses/new"><div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div></a>
      <%else%>
            <a href="/businesses"><div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div></a>
      <%end%>

    </div>

</div>

<script> 
    $(document).ready(function(){
       input = $("input#business_name1")
      search =  $("input.prompt");
      form = $("div#search_bar_form form")
      search.on("keypress", function(e){
          search.focus()
          if(e.which !== 13  ){
             
             
        }else{
            input.val(search.val())
            form.submit()
          }


          
      })
    })
</script>