<!DOCTYPE html>
<html>
  <head>
    <title>BusinessBuilder</title>
     
           <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

       <%# <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> %>

 
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 

    <%# <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> %>
   

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/visibility.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/transition.min.js"></script>
  </head>

  <body>
 
    <%= render 'layouts/sidebar' %>
    <div class = "ui container">

    <% if flash[:notice]%>
      <div class="ui message">
        <i class="close icon"></i>
        <div class="header">
          <%=flash[:notice]%>
        </div>
        <p>This is a special notification which you can dismiss if you're bored with it.</p>
    </div>
    <%end%>


        <% if @business && @business.errors.any? %>
        <div id="error_explanation" class= "ui floating message">
        <h2>
          <%= pluralize(@business.errors.count, "error") %>
          prohibited the creation of this business:
        </h2>
    
        <ul>
        <% @business.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "ui container">
      <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer'%>



  </body>
</html>
